@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Nunito;
    color: #dad7cd;
    scroll-behavior: smooth;
    overflow: hidden;
    background: #000;
}

::selection {
    background-color: #ffcc00;
    color: #000;
}

#first, #second, #third, #fourth {
    display: flex;
    height: 100%;
    width: 100%;
}

#first {
    justify-content: space-evenly;
    align-items: center;
    background-image: url(images/Nizhniy\ Novgorod.jpg);
    background-size: cover; /* Растягиваем картинку на весь экран */
    background-position: center; /* Центрируем картинку */
    background-repeat: no-repeat; /* Отключаем повторение фона */ 
}

.blur {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: radial-gradient(#00000091, #000 90%);
    backdrop-filter: blur(3px);
}

.veryBig {
    margin: 10px;
    text-align: end;
    font-family: Montserrat;
    font-size: 11vw;
    font-weight: 800;
    line-height: 1;
    padding-right: 10px;

    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.creators {
    width: 100%;
    font-size: 1vw;
    text-align: end;
    padding-right: 10px;
    opacity: .2;
    align-self: end;
}

#Ekaterina {
    font-size: 7vw;
}

#coin3D {
    height: 0;
    width: 100%;
}

.lineTo2nd {
    z-index: -1;
    position: absolute;
    height: 200vh;
    width: 100vw;
}

/* SECOND SLIDE */

#second {
    position: relative;
}

.CatherineII {
    opacity: 0;
}

.box2nd {
    height: 100%;
    width: 100%;
    display: flex;
}

.introduction {
    color: #ffcc00;
}

.text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 25px;
    padding: 100px 30% 0 17%;
    font-size: 18px;
}

.text ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#second img {
    position: absolute;
    width: 200px;
    top: 215px;
    right: 5vw;
}

/* THIRD SLIDE */

#third {
    background-image: url(images/magazine.jpg);
    background-size: cover; /* Растягиваем картинку на весь экран */
    background-position: center; /* Центрируем картинку */
    background-repeat: no-repeat; /* Отключаем повторение фона */ 
}

.blur2nd {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: radial-gradient(#0000005e, #000);
    backdrop-filter: blur(3px);
    align-items: center;
    justify-content: center;
}

.text2nd {
    background: #222;
    text-align: justify;
    font-size: 22px;
    width: 60%;
    height: 87%;
    border-radius: 25px 0 0 25px;
    overflow: auto;
    padding: 50px;
}

/* Изменение стиля скроллбара */
.text2nd::-webkit-scrollbar {
    width: 7px; /* Ширина скроллбара в WebKit (Chrome, Safari) */
}

.text2nd::-webkit-scrollbar-thumb {
    background-color: #ffcc00a9; /* Цвет ползунка */
    border-radius: 2px; /* Скругление углов ползунка */
}

.text2nd::-webkit-scrollbar-track {
    background-color: #222; /* Цвет фона скроллбара */
}

.text2nd::-webkit-scrollbar-thumb:hover {
    background-color: #ffcc00;
}

/* FOURTH SLIDE */

#fourth {
    height: 100vh;
    width: 100vw;
    background-image: url(images/Russian\ Imp.png);
    background-size: cover; /* Растягиваем картинку на весь экран */
    background-position: center; /* Центрируем картинку */
    background-repeat: no-repeat; /* Отключаем повторение фона */ 
}

#fourth ol {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: #0000009a;
    padding: 30px;
    border-radius: 25px;
    gap: 5px;
}

#fourth ol h1 {
    color: #ffcc00;
    text-align: end;
}

#fourth hr {
    margin: 5px;
    width: 90%;
    align-self: center;
}